html {
  --bg-color: rgb(23, 23, 23);
  --bg-color-day: rgb(136, 164, 146);
  --bg-color-today: rgb(59, 225, 117);
  --bg-color-month: purple;
  --color: rgb(237, 237, 237);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--color)
}

.flex {
  display: flex;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
}

.pagewrapper {
  max-width: 800px;
}

.year-wrapper {
  display: flex;
  justify-content: center;
}

.year {
}

.daywrapper {
  display: flex;
  flex-wrap: nowrap;
}

.month {
  display: flex;
  /* margin-bottom: 4px; */
}

.month-name {
  width: 15px;
  /* margin-top: -4px; */
  font-size: 0.7rem;
}

.time-select {
  display: flex;
  align-items: center;
}

.time-select-arrow {
  font-size: 1.4rem;
  cursor: pointer;
}

.time-select-title {
  margin: 1rem;
}

.day {
  text-align: center;
  margin: 0.5px;
  width: 9px;
  height: 9px;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color-day);
}

.day.selected {
  border: 0.5px solid red;
}

.today {
  /* background-color: var(--bg-color-today); */
  border: 0.5px solid white;
}

.today.selected {
  /* background-color: var(--bg-color-today); */
  border: 0.5px solid white;
}

.controls {
  /*  */
}

.control-button {
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  min-width: 50px;
  min-height: 30px;
  padding: 4px;
  margin: 1rem 1rem 1rem 1rem;
  border: none;
  background-color: lightblue;
}
